<!DOCTYPE html>
    <html>
        <head>
            <title>
                {{ title }}
            </title>
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    padding: 10px;
                    text-align: center;
                    background-color: teal;
                }

            </style>
        </head>
        <body>
            <h1>Razzle Dazzle</h1>
            <p>{{ result }}</p>
            <br>
            <button onClick="window.location.reload();">Refresh Page</button>
            <br>
            <table>
                <tr>
                    <th><b>Difficulty</b></th>
                    <th><b>Bust</b></th>
                    <th><b>Even</b></th>
                    <th><b>Double</b></th>
                    <th><b>Triple</b></th>
                </tr>
                <tr>
                    <td>Easy</td>
                    <td>30 ></td>
                    <td>31 - 40</td>
                    <td>41 - 50</td>
                    <td>10, 51 +</td>
                </tr>
				<tr>
                    <td>Medium</td>
                    <td>35 ></td>
                    <td>36 - 45</td>
                    <td>46 - 55</td>
                    <td>10, 56 +</td>
                </tr>
				<tr>
                    <td>Hard</td>
                    <td>40 ></td>
                    <td>41 - 50</td>
                    <td>51 - 55</td>
                    <td>10, 56 +</td>
                </tr>
            </table>
            <table >
                <tr>
                    <th>ID</th>
                    <th>Difficulty</th>
                    <th>Score</th>
                    <th>Result</th>
                </tr>
                {% for data in data1 %}
                <tr>
                </tr>
                    <td>
                        {{ data.id }}
                    </td>
                    <td>
                        {{ data.board }}
                    </td>
                    <td>
                        {{ data.score }}
                    </td>
                    <td>
                        {{ data.result }}
                    </td>
                {% endfor %}
            </table>
        </body>
    </html> 
