<!DOCTYPE html>
    <html>
        <head>
            <title>
                {{ title }}
            </title>
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                    padding: 10px;
                    text-align: center;
                }

            </style>
        </head>
        <body>
            <h1>Razzle Dazzle</h1>
            <p>{{ result }}</p>
            <br>
            <button onClick="window.location.reload();">Refresh Page</button>
            <br>
            <table>
                <tr>
                    <th><b>Difficulty</b></th>
                    <th><b>Triple</b></th>
                    <th><b>Bust</b></th>
                    <th><b>Even</b></th>
                    <th><b>Double</b></th>
                </tr>
                <tr>
                    <td>Easy</td>
                    <td>10</td>
                    <td>25, 35, 45, 20 or less</td>
                    <td>Between 21 and 39</td>
                    <td>40 or more</td>
                </tr>
				<tr>
                    <td>Medium</td>
                    <td>10</td>
                    <td>25, 45, 30 or less</td>
                    <td>Between 20 and 39</td>
                    <td>45 or more</td>
                </tr>
				<tr>
                    <td>Hard</td>
                    <td>10</td>
                    <td>45, 40 or less</td>
                    <td>Between 41 and 49</td>
                    <td>50 or more</td>
                </tr>
            </table>
            <table >
                <tr>
                    <th>ID</th>
                    <th>Difficulty</th>
                    <th>Score</th>
                    <th>Result</th>
                </tr>
                {% for data in data1 %}
                <tr>
                </tr>
                    <td>
                        {{ data.id }}
                    </td>
                    <td>
                        {{ data.board }}
                    </td>
                    <td>
                        {{ data.score }}
                    </td>
                    <td>
                        {{ data.result }}
                    </td>
                {% endfor %}
            </table>
        </body>
    </html> 
